body{
    margin: 0px;
    background: #1e242a;
}

#main{
     width:100%;
     height:100%;
     position: absolute;
     overflow: hidden;
}
#box-1{
    width:530px;
    height:625px;
    background-image: url(images/full\ image.png);
    position: absolute;
    bottom:100%;
    left:30%;
    animation: anim 2s forwards, anim2 3s forwards 3s;
}
#box-1:after{
    content: "";
    position: absolute;
    width:530px;
    height:625px;
    background-image: url(images/skeleton\ img.png);
    left: 0px;
    z-index: -1; 
}
@keyframes anim{
  from{
      bottom:-100%;
  }
  to{
      bottom: 0%;

  }
}
@keyframes amim2{
    from{
        left: 30%;
        width: 530px;
}
to{
    width: 0%;
    left: 50%;
}
}
#box-2{
    width: auto;
    height: auto;
    font-family: "Bahnschrift Condensed";
    color: wheat;
    font-size:10em;
    font-weight:500;
    line-height:130px;
    position: absolute;
    top:250px;
    left:100px;
    overflow: hidden;
}
#text{
    position:relative;
    left:-100%;
    animation: anim3 2s forwards 3s;
}
#text button{
    size: 27%;
    
}
@keyframes anim3{
    from{
        left:-100%;
    }
    to {
        left: 0%;
    }
}
#box-3{
    overflow: hidden;
}
#container{
    width:100%;
    position: absolute;
    top:-100%;
    animation: anim4 2s forwards 2.5s;
}
#logo{
float: left;
margin-left:100px;
margin-top:20px;
}
#logo img{
    width: 150px;
}
#menu{
    font-family: "Bahnschrift Condensed";
    font-size: 14px;
    color: white;
    letter-spacing: 2px;
    margin-right: 150px;
    margin-top: 20px;
    float: right;
}
#menu ul{
    list-style: none;
    color: wheat;
}
#menu ul li{
    color: wheat;
    display: inline-block;
    margin-left:100px;
}

@keyframes anim4{
    from{
        top: -100%;
    }
    to{
        top: 0%;
    }
}
.containerb{
    font-family: "Bahnschrift Condensed";
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.btn-1{
    width: 300px;
    height: 100px;
    border: none;
    color: white;
    background-color: khaki;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #0f0f0f;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}
